<h1><%= "#{@user.name}さんのページ" %></h1>
<div class="controll-section">
  <div class="user-section">
    <div class="user-content">
      <div class="user-image">
        <% if @user.image.attached? %>
          <%= image_tag @user.image %>
        <% else %>
          <%= image_tag "nouser.png" %>
        <% end %>
      </div>
      <div class="user-info">
        <div class="user-name">
          <%= "ユーザー名： #{@user.name}" %>
        </div>
        <div class="user-word">
          <%= "つぶやき: #{@user.word}" %>
        </div>
        <div class="user-self">
          <%= "自己紹介: #{@user.self_introduction}" %>
        </div>
        <% if @user.id == current_user.id %>
          <%= link_to edit_user_path(@user) do %>
            <i class="fas fa-user-edit"></i>
              編集する
          <% end %>
          <%= link_to user_path(@user), method: :delete, data: {confirm: "本当に削除しますか？"} do %>
            <i class="fas fa-user-alt-slash"></i>
              アカウントを削除する
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="user-sidebar">
    <%= link_to "いいねした投稿", user_favorites_path(@user) %>
    <%= link_to "閲覧履歴", user_histories_path(@user) %>
  </div>
</div>

<div class="post-info">
  <h2>
    <%= "#{@user.name}さんの投稿" %>
    <%= "#{@user.posts.count}件" %>
  </h2>
</div>
<div class="post-section">
  <% if @user.posts.empty? %>
    <p>まだ投稿がありません<p>
  <% else %>
    <% @user.posts.each do |post| %>
      <div class="post-index">
        <div class="sub" >
          <div class="post-title">
            <%= link_to post_path(post) do %>
              <%= post.title %>
            <% end %>
          </div>
          <div class="time-action">
            <time><%= post.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
            <% if @user.id == current_user.id %>
              <%= link_to edit_post_path(post) do %>
                <i class="far fa-edit"></i>
                  編集する
              <% end %>
              <%= link_to post_path(post), method: :delete do %>
                <i class="fas fa-trash"></i>
                  削除する
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="post-content">
          <%= post.content.truncate(140) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>