<%= form_with model: @post, local:true do |f| %>
  <div class="form-group">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <div class="label">
      <%= f.label :content, "本文" %>
      <p id="counter">0文字</p>
    </div>
    <%= f.text_area :content, id: "input-text", rows: 5 %>
  </div>
  <div class="form-group">
    <%= f.label :images, "画像を添付" %>
    <%= f.file_field :images, multiple: true %><br>
  </div>

  <div class="submit-block">
    <%= f.submit "投稿する", class: "button" %>
  </div>
<% end %>