<div class="content-wrapper">
  <div class="content-area">
    <div class="sub">
      <div class="post-user">
        <%= link_to user_path(@post.user.id) do %>
          投稿者<%= @post.user.name %>さん
        <% end %>
      </div>
      <div class="post-time">
        投稿日<%= @post.created_at.strftime('%Y/%m/%d %H:%M') %>
      </div>
      <% if @post.user_id == current_user.id %>
        <%= link_to edit_post_path(@post) do %>
          <i class="far fa-edit"></i>
            編集する
        <% end %>
      <% end %>
        <div class="view">
          閲覧数
          <i class="far fa-eye"></i>
            <%= @post.impressions_count %>
        </div>
        評価&nbsp
        <div class="post_<%= @post.id %>">
          <%= render 'mystery/ajax', post: @post %>
        </div>
    </div>
    <div class="main">
      <div class="post-title">
        <%= @post.title %>
      </div>
      <div class="post-content">
        <!-- 投稿されたコンテンツの改行・空白を表示 -->
        <%= safe_join(@post.content.split("\n"),tag(:br)) %>

        <% if @post.images.attached? %>
          <div class="images">
            <% @post.images.each do |images| %>
              <%= link_to images, :rel => "lightbox" do %>
                <%= image_tag images %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="sns-share">
      <div class="twitter">
        <%= link_to "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank' do %>
          <i class="fab fa-twitter"></i>
          twitterでシェアする
        <% end %>
      </div>
    </div>
    <hr>
    <div id="comments_area">
      <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>
    <% if user_signed_in? %>
      <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
      <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
    <% end %>
  </div>
  <div class="sidebar">
    <div class="post-other">
      <p>このユーザーの他の投稿  <%= @post_other.count %>件</p>
      <% @post_other.first(5).each do |post| %>
        <div class="other-block">
          <div class="other-title">
            <%= link_to post.title, post_path(post) %>
            <div class="action-menu">
              <i class="far fa-eye fa-xs"></i>
              <%= post.impressions_count %>
              <i class ="fas fa-heart fa-xs"></i>
              <%= post.favorites.count %>
              <i class="far fa-comment fa-xs"></i>
              <%= post.comments.count %>
            </div>
          </div>
          <div class="other-content">
            <%= post.content.truncate(40) %>
          </div>
        </div>
      <% end %>
      <% if @post_other.count > 5 %>
        <p><%= link_to "もっと見る", user_path(@post.user.id) %></p>
      <% end %>
    </div>
    <div class="recommended">
      <p>こんな話もいかがですか？</p>
      <% @random.each do |random| %>
        <div class="random-block">
          <div class="random-title">
            <%= link_to random.title, post_path(random) %>
            <div class="action-menu">
              <i class="far fa-eye fa-xs"></i>
              <%= random.impressions_count %>
              <i class ="fas fa-heart fa-xs"></i>
              <%= random.favorites.count %>
              <i class="far fa-comment fa-xs"></i>
              <%= random.comments.count %>
            </div>
          </div>
          <div class="random-content">
            <%= random.content.truncate(40) %>
          </div>
        </div>
      <% end %>
      <p>
        <i class="fab fa-snapchat-ghost"></i>
        <%= link_to "投稿一覧へ", root_path %>
        <i class="fab fa-snapchat-ghost"></i>
      </p>
    </div>
  </div>
</div>


