 <% if user_signed_in? %>
   <div class="action-menu">
     <div class="view">
       <i class="far fa-eye"></i>
       <%= post.impressions_count %>
     </div>
     <div class="like">
       <% if current_user.already_favorited?(post) %>
         <%= link_to post_favorites_path(post), method: :delete, remote: true do %>
           <i class ="fas fa-heart"></i>
         <% end %>
      <% else %>
        <%= link_to post_favorites_path(post), method: :post, remote: true do %>
          <i class ="far fa-heart"></i>
        <% end %>
      <% end %>
      <%= post.favorites.count %>
    </div>
    <div class="comment">
      <%= link_to post_path(post) do %>
        <i class="far fa-comment"></i>
      <% end %>
      <%= post.comments.count %>
    </div>
  </div>
<% end %>
</div>
