<div class="content-wrapper">
  <div class="content-block">
    <% @posts.each do |post| %>
      <div class="content">
        <div class="user-about">
          <div class="image">
            <% if post.user.image.attached? %>
              <%= image_tag post.user.image %>
            <% else %>
              <%= image_tag "nouser.png" %>
            <% end %>
          </div>
          <div class="profile">
            <div class="name-word">
              <div class="name">
                <%= post.user.name %>
              </div>
              <div class="word">
                <%= "つぶやき：#{post.user.word}" %>
              </div>
            </div>
            <div class="self-introduction">
              <%= "自己紹介：#{post.user.self_introduction}" %>
            </div>
          </div>
        </div>

        <div class="title">
          <%= "タイトル：#{post.title}" %>
        <div>
        <div class="text">
          <p><%= post.content %></p>
        </div>

        <% if post.images.attached? %>
          <div class="images">
            <% post.images.each do |images| %>
              <%= image_tag images %>
            <% end %>
          </div>
        <% end %>

        <div class="action-menu">
          <div class="like">
          </div>
          <div class="comment">
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="sidebar">
      <div class="box"></div>
      <div class="box"></div>
    </div>
</div>

